{% extends './layout.html' %}
{% load static%}
{% block content %}



  <h1>자기 소개</h1>
        <h3>안녕하십니까. 제 이름은 이현규입니다.</h3>
        <h3>2002년생(23살)이고 현재 전북대학교 스마트팜학과에 재학중입니다.</h3>

        <img src="{% static 'single_pages/images/profile.jpg'%}" width="300px">

        <hr/>

        <h3>(취미)</h3>
        <h4>: 저녁에 (혼자) 제가 좋아하는 노래를 들으며 러닝하는 것을 좋아합니다.
            또는 친구들과 함께 축구 or 풋살도 좋습니다. </h4></p>
        <h3>(MBTI)</h3> </p>

        <h4>: ENFP 입니다. E와 I의 비율의 거의 비슷하지만 "E"가  55%이니 ENFP로 하지요. ^_^ </h4></p>
        <h3>(좋아하는 음식)</h3> </p>

        <h4>: 저는 특히 서구권 음식을 좋아하는 것 같습니다. (스파게티, 피자, 햄버거를 특히 !@ 좋아합니다.)
        </p>BUT 언제나 맛있는 한식도 환영입니다.(누구나 아는 김치찌개, 갈비찜, 제육볶음, etc..)</h4>
        <hr/>
        <h3>(거주지) </h3></p>
        <h4>: 제 본가는 서울 금천구에 위치하고 있습니다. </h4></p>

        <h3>(가족 관계)</h3> </p>
        <h4>: 아버지, 어머니 그리고 제 위에 형 2명이 있습니다. (총 5명)</h4> </p>
        <h3>(스마트팜학과에 진학한 이유)</h3> </p> <h4> : 고등학교 시절, 스마트팜이라는 농업 분야를 처음 접했고 흥미가 생기기
    
        시작했습니다. </p>
        대부분이 생각하는 농업은 힘들고, 지구 대기 날씨의 영향이 절대적이고 그 해 농사의 결과를 결정하는 것이었습니다. </p>
        하지만 스마트팜 기술의 발전을 통해 이러한 문제점들과 변수요인들을 제어할 수 있다는 것을 보며 매력을 느꼈기 때문입니다.
        <br><br>
        그 이후로, 스스로 스마트팜에 관련된 기업이나 사업등을 알아보고 조사해보기도 하고, 동아리에서 스마트팜을 주제로 한 발표를 하기도
        했습니다. </p>
        시간이 지나며 고등학교 3학년. 즉 대입을 준비하는 시즌이 되었고 타이밍이 마치 누가 절 도와주는 것처럼 대학에 진학하는 해인 </p> 2021년에 전북대학교에서 "스마트팜"학과를 신설한다는 공고를 보고
        저 곳에 가서 더 공부하고싶다. 라고 생각한 것 같습니다. </h4><br><br>

        <hr/>
        <a href="{% url 'single_pages:landing' %}">첫 화면으로 가기<i class="fa-solid fa-house"></i></a>

{% endblock %}