<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
    <h1>이현규의 Blog</h1>


{% for p in post_list %}
<div class="card mb-4">
    {% if p.head_image %}
        <img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p }} head image">
    {% else %}
        <img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/800/200" alt="random_image">
    {% endif %}
    <div class="card-body"></div>
                            <div class="small text-muted">{{ p.created_at }}</div>
                            <h2 class="card-title">{{ p.title }}</h2>
                            {% if p.hook_text %}
                            <h5 class="text-muted">{{ p.hook_text }}</h5>
                            {% endif %}
                            <p class="card-text">{{ p.hook_text }}</p>
                            <a class="btn btn-primary" href="{{ p.get_absolute_url }}">Read more →</a>
                            </div>
{% endfor %}
</body>
</html>